[Unit]
Description=Runs everyboot.sh on every boot of the Raspberry Pi.
Before=rc-local.service
After=network.target

[Service]
ExecStart=/bin/bash /usr/local/bin/everyboot.sh
Type=oneshot
RemainAfterExit=no

[Install]
WantedBy=multi-user.target