[Unit]
Description=Huey service
After=network.target

[Service]
User=pioreactor
WorkingDirectory=/var/www/pioreactorui
ExecStart=huey_consumer tasks.huey -s 60 -n -b 1.0 -w 2
ExecStartPost=pio log -m "%n successful" -n systemd
Restart=always

[Install]
WantedBy=multi-user.target