[Unit]
Description=Start up PioreactorUI
Wants=network-online.target
After=network.target network-online.target

[Service]
User=pioreactor
ExecStartPre=sudo iptables -t nat -A PREROUTING -p tcp --dport 80 -j REDIRECT --to-ports 9000
ExecStart=pm2 start app.js --name ui --time
ExecStartPost=pio log -m "%n successful" -n systemd
WorkingDirectory=/home/pioreactor/pioreactorui/backend
Restart=no
Environment="PATH=/home/pioreactor/.local/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin"
KillMode=none

[Install]
WantedBy=multi-user.target network-online.target
