[Unit]
Description=Turn off WiFi power save
After=sys-subsystem-net-devices-wlan0.device

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/sbin/iw dev wlan0 set power_save off
ExecStartPost=pio append_to_log -m "%n successful"

[Install]
WantedBy=sys-subsystem-net-devices-wlan0.device